
    <header>
        <div class="header-flex-contain"> 
   <h1>Cinema <br>Ironhack</h1>
     <form action="/movies", method="GET">
     <input type="submit" value="Check the Movies!" />
   </form>
        </div>
</header>


